/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}

h1 {
	display: none;
}

/* ul li {
	list-style-type: none;
} */





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

